/* Add CSS Styling */
.odd {
    background-color: lightpink;
    font-family: Verdana, "DejaVu Sans", Tahoma, sans-serif;
}

#num2 {
    color: blue;
    font-size: 36px;
}

.odd.cool {
    font-size: 24px;
}

#num4 {
    background-color: lightgreen;
    font-size: 24px;
    font-weight: 700;
}